@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --font: #de7c60;
  --section1: #f7f6f2;
  --block1: #d9f6fa;
  --block2: #fdd2bb;
  --block3: #d7f6e7;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif;
}

.section1 {
  background-color: var(--section1);
  height: 700px;
  background-image: url("../public/images/product.png"),
    url("../public/images/background-section1.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 450px, 1000px;
  background-position: 65% 80px, 65% 80px;
}

.title {
  background-image: url("../public/images/title.png");
  height: 100px;
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: 10% 100%;
}

.section1 .container1 {
  position: absolute;
  top: 200px;
  left: 10%;
  display: flex;
  flex-direction: column;
}

.slogan {
  background-image: url("../public/images/3words.png");
  height: 150px;
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: -32px 50%;
}

.test1-button {
  width: 60%;
}

.test1-button,
.test2-button {
  background-color: var(--font);
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding: 15px;
  border: 1px solid transparent;
  transition: all 0.5s;
  text-align: center;
  text-decoration: none;
}

.test1-button:hover,
.test2-button:hover {
  background-color: white;
  border: 1px solid var(--font);
  color: var(--font);
}

@media screen and (max-width: 1000px) {
  .section1 {
    height: 700px;
    background-size: 320px, 800px;
  }
  .section1 .container1 {
    top: 400px;
  }
  .title {
    background-size: 320px;
  }
}

.section2 {
  height: 600px;
}

.section2-title,
.section35-title,
.section3-title {
  color: var(--font);
  font-size: 33px;
  font-weight: 700;
  margin: 50px 0;
  text-align: center;
  font-family: "Open Sans";
}

.block-container {
  display: flex;
  justify-content: space-around;
  padding: 30px 50px;
  align-items: center;
  /* overflow-x: scroll; */
}

.block1 {
  background-color: var(--block1);
}
.block2 {
  background-color: var(--block2);
}
.block3 {
  background-color: var(--block3);
}

.block-container > * {
  padding: 20px 29px 29px 15px;
  margin: 20px;
  border-radius: 100px 100px 10px 10px;
  min-width: 250px;
  max-width: 300px;
}

.block-title {
  text-align: center;
  color: var(--font);
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
}

.block-container .block-intro,
.block-list {
  font-family: "Open Sans", Arial sans-serif;
  font-size: 12.5px;
}
.block-intro {
  text-align: justify;
}
.block-list {
  font-style: italic;
}

.block-list .list-text {
  display: inline;
}

.list-content {
  margin: 10px 0px;
}

.bolt-icon {
  margin-right: 5px;
}

@media screen and (max-width: 1000px) {
  .block-container {
    flex-direction: column;
  }
  .block-container > * {
    max-width: 500px;
  }
  .section2 {
    height: 1050px;
  }
}

.section3 {
  background-color: var(--section1);
  background-image: url("../public/images/background-section3.png");
  background-repeat: no-repeat;
  background-position: 300px 0px;
  height: 1330px;
}

.section3-title {
  padding-top: 50px;
}

.concept-container {
  display: flex;
  justify-content: center;
}

.concept-item .rotate-item {
  margin: 0 auto;
}

.concept-item .legend-item {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
}

.button-container {
  text-align: center;
  margin: 100px auto;
}

.company-item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 120px 0;
}

.company-item {
  width: 180px;
}

.company-item .company-image {
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0px 30px 80px -20px rgb(68 40 84 / 40%);
}

.company-item .image-description {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

.section4 {
  background-image: url("../public/images/background-section4.png");
  background-repeat: no-repeat;
  background-size: 2000px;
  height: 700px;
  padding: 20px;
  position: relative;
}

.form-container {
  background-color: var(--font);
  max-width: 450px;
  width: 100%;
  margin: 50px auto;
  padding: 20px;
}

.form-container .form-title {
  font-family: "Open Sans" Arial, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}

.form-container .paragraph1,
.paragraph2,
.form-terms {
  font-size: 13px;
  font-weight: 400;
  color: white;
  margin: 20px 0;
  line-height: 23px;
}

.form-container fieldset {
  border: none;
  margin: 0 0 20px;
  border-radius: 5px;
  padding: 0;
  width: 100%;
}
.form-container fieldset:nth-child(-n + 2) {
  background-color: white;
}

.test-product-form .input-name,
.input-email {
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  width: 100%;
  font-size: 16px;
  padding: 15px;
  margin: 0;
}

.test-product-form .input-name:focus,
.input-email:focus {
  border: none;
  outline: none;
}

.test-product-form .submit {
  width: 100%;
  height: 40px;
  border: none;
  background-color: var(--section1);
  color: var(--font);
  font-size: 17px;
  font-weight: 400;
}

.follow-us-title {
  position: absolute;
  bottom: 25px;
  font-size: 20px;
  font-weight: 800;
  color: var(--font);
}

.social-container {
  padding: 20px 0;
  display: flex;
  height: 80px;
  justify-content: center;
  gap: 10px;
  background-color: var(--section1);
}

.social-container > * {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.social-container .instagram {
  background: url("../public/images/socials/instagram.png"), var(--font);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-container .facebook {
  background: url("../public/images/socials/facebook.png"), var(--font);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-container .linkedin {
  background: url("../public/images/socials/linkedin.png"), var(--font);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
}
